@import 'Helpers/_helpers';

//Swiper
.ax-load-swiper {
	.swiper-wrapper {
		display: flex;
		gap: 20px;
		@include media-breakpoint-up(lg) {
			gap: 40px;
		}

		.swiper-slide {
			flex-basis: 65%;
			@include media-breakpoint-only(md) {
				flex-basis: calc(100% / 3.5 - 40px);
			}
			@include media-breakpoint-up(lg) {
				flex-basis: calc(100% / var(--column-size) - 40px);
			}
		}
	}
}