.field__input,
.select__select,
.customer .field input,
.customer select {
    height: 5rem;
}

.field__label,
.customer .field label {
    top: 50%;
    transform: translateY(-50%);
}

.field__input:focus ~ .field__label,
.field__input:not(:placeholder-shown) ~ .field__label,
.field__input:-webkit-autofill ~ .field__label,
.customer .field input:focus ~ label,
.customer .field input:not(:placeholder-shown) ~ label,
.customer .field input:-webkit-autofill ~ label {
    transform: none;
}